:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;

  --color-scheme: 0;
  --color00: #040608;
  --color10: #0a1a2a;
  --color20: #1a2a3a;
  --color30: #2a3a4a;
  --color40: #3e4e5e;
  --color50: #586878;
  --color60: #728292;
  --color70: #8d9dad;
  --color80: #a9b9c9;
  --color90: #b4c4e4;
  --color100: #fff;
  --color-accent50: #1c5d80;
  --color-accent60: #2c7da0;
  --color-accent80: #3596c0;

  --link-color: #4c9ce2;
  --link-color-hover: #386989;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-scheme: 1;
    --color00: #fff;
    --color10: #f5f5f5;
    --color20: #e0e0e0;
    --color30: #b8b8b8;
    --color40: #999;
    --color50: #7a7a7a;
    --color60: #5c5c5c;
    --color70: #3d3d3d;
    --color80: #292929;
    --color90: #141414;
    --color100: #000;
    --color-accent50: #2881b1;
    --color-accent60: #41b6e9;
    --color-accent80: #3596c0;

    --link-color: #386989;
    --link-color-hover: #4c9ce2;
  }
}

:root.theme-light {
  --color-scheme: 1;
  --color00: #fff;
  --color10: #f5f5f5;
  --color20: #e0e0e0;
  --color30: #b8b8b8;
  --color40: #999;
  --color50: #7a7a7a;
  --color60: #5c5c5c;
  --color70: #3d3d3d;
  --color80: #292929;
  --color90: #141414;
  --color100: #000;
  --color-accent50: #2881b1;
  --color-accent60: #41b6e9;
  --color-accent80: #3596c0;

  --link-color: #386989;
  --link-color-hover: #4c9ce2;
}

html {
  color: var(--color100);
  background-color: var(--color00);
}

body {
  margin: 0;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

main {
  width: 100%;
  margin: 0 1rem;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
}

.header {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: var(--color20);
}

.header a {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--color100);
}

.header__right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.preview {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  margin: 2rem 1rem 0;
  padding: 0.5rem 1rem;
  background-color: var(--color20);
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition-duration: 250ms;
}

a:hover {
  color: var(--link-color-hover);
}

.badge_list li {
  margin: 0.5rem;
}

.header__logo {
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border-radius: 50%;

  & img {
    width: 1.8rem;
    height: 1.8rem;
  }
}

.header__title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__theme {
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 0.5;
  }
}

.header__theme img {
  width: 1.8rem;
  height: 1.8rem;
}

.header__theme input[type='checkbox'] {
  display: none;
}

.home__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__welcome,
.home__constructor,
.home__examples {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
}

@media (min-width: 840px) {
  .home__main {
    align-items: start;
  }

  .home__welcome,
  .home__examples {
    width: calc(100% - 25rem);
  }

  .home__constructor {
    width: 25rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    border-left: 1px solid var(--color20);
    top: 0%;
    right: 0%;
    /* transform: translateY(-50%); */
  }
}

.list__badges {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.home__badge_item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.home__code {
  word-break: break-all;
}

.home__title {
  text-align: center;
}

.home__select_container {
  width: 12rem;
  margin: 0 auto;
}

.home__form {
  padding: 1rem 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.home__fields {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.home__input {
  width: 8rem;
  box-sizing: border-box;
  padding: 0.5rem;
  background-color: inherit;
  color: inherit;
  border: 1px solid var(--color100);
  border-radius: 8px;
  font-size: 1rem;
  -webkit-text-fill-color: var(--color100);
  opacity: 0.8;
}

.home__icon_container {
  width: 8rem;
  position: relative;
}

.home__icon_dropdown {
  position: absolute;
  width: 8rem;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 11.5rem;
  overflow-y: auto;
  border: 1px solid var(--color100);
  background-color: var(--color00);
  z-index: 1000;
}

.home__icon_option {
  padding: 0.3rem;
  cursor: pointer;
  border-bottom: 1px solid var(--color100);
  &:hover {
    background-color: var(--color10);
  }
}

.home__stack_btn {
  width: 8rem;
  padding: 0.3rem;
  background-color: var(--color80);
  color: var(--color10);
  border: 1px solid var(--color80);
  border-radius: 0.5rem;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--color60);
  }
}

.home__stack_btns_container {
  display: flex;
  gap: 0.5rem;
}

.home__submit_btn {
  width: 8rem;
  padding: 0.5rem;
  color: var(--color100);
  background-color: var(--color-accent50);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--color-accent80);
  }
}

.home__result_url {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.home__copy {
  position: relative;
  width: 1rem;
  height: 1rem;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  filter: invert(var(--color-scheme));
}

.home__copy_notification {
  animation: fadeInOut 1s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    top: -1rem;
  }
  20% {
    opacity: 1;
    top: -2rem;
  }
  80% {
    opacity: 1;
    top: -2rem;
  }
  100% {
    opacity: 0;
    top: -1rem;
  }
}

/*Modal*/

.modal__outer {
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  display: flex;
  width: 100dvw;
  height: 100dvh;
  align-items: center;
  justify-content: center;
  background-color: rgb(0 0 0 / 50%);
}

.modal__outer_hidden {
  display: none;
}

.modal__inner {
  position: relative;
  display: flex;
  min-width: 22rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem 1.5rem;
  border-radius: 0.75rem;
  margin: 0 1rem;
  background-color: var(--color10);
  font-size: 1rem;
}

.modal__close {
  position: sticky;
  z-index: 2;
  top: 0;
  display: flex;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  background-color: inherit;
  cursor: pointer;
  transition: opacity 0.25s linear;

  &:hover {
    opacity: 0.6;
  }
}
.modal__close img {
  width: 1.5rem;
  height: 1.5rem;
  filter: invert(var(--color-scheme));
}

@media (max-width: 430px) {
  .modal__inner {
    width: 100%;
    height: 100%;
    border-radius: unset;
    margin: 0;
    overflow-y: auto;
  }
}

/*Message*/

.messages {
  position: fixed;
  z-index: 1000;
  top: 3.5rem;
  right: 0;
  bottom: 3.5rem;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  row-gap: 4px;
  overflow: hidden;
  pointer-events: none;
}

.messages__item {
  position: relative;
  min-width: 10rem;
  max-width: 400px;
  padding: 1rem;
  background-color: var(--color20);
  box-shadow: 1px 1px 4px 0 #0008;
  line-height: 1.2;
  display: flex;
  column-gap: 0.5rem;
  animation: fadein 0.5s forwards;
}
.messages__item.hidden {
  animation: fadeout 0.5s forwards;
}

.messages__item_icon {
  display: flex;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  background-color: green;
  font-size: 12px;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeout {
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

/*Select*/

.select {
  flex: 0 1 40%;
  position: relative;
  min-width: 12rem;
  box-sizing: border-box;
  padding: 0 0.6rem;
  border: 2px solid var(--color50);
  background-color: var(--color10);
  color: var(--color100);
  font-size: 1rem;
  transition: background-color 0.25s linear, border-color 0.25s linear;

  &:hover {
    border-color: var(--color60);
    background-color: var(--color20);
  }
}

.select__element {
  width: 100%;
  padding: 1rem 0 0.6rem;
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-text-fill-color: var(--color100);
}

.select__placeholder {
  position: absolute;
  top: 0;
  left: 0.6rem;
  color: inherit;
  opacity: 0.7;
  font-size: 0.8em;
  pointer-events: none;
  transition: 0.3s ease all;
}
